/* the styles for the home page */
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* the styling for the layout using the body */
body {
    background-color: wheat;
    margin: 0px;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}


/* stylign for the nav bar */
nav {
    padding: 20px 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: medium solid black;
}
nav > span {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
}
nav a {
    display: inline-block;
    padding: 1px 0px;
    text-decoration: none;
    border-bottom: medium solid black;
    font-size: 16px;
    color: black;
    font-weight: 600;
    transition: border .5s;
}
nav a.active {
    border: none;
}
nav div {
    display: inline-grid;
    column-gap: 20px;
    grid-template-columns: auto auto auto; 
}
/* adding some hover interactions for the nav-links */
nav a:hover {
    border: none;
}


/* the styling for the main/hero section */
main {
    padding: 0px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-grow: 1; /* makes the main take up the remaining height other than waht is occupied by the nav bar */
}
header > * {
    text-align: center;
}
header > h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
}
header > p {
    width: 60%;
    margin: 0px auto;
}